<%= render "shared/landingheader" %>
<body>
    <%= render "shared/landingbodyheader" %>


    <!-- Home Main -->
    <section class="home-main">
        <div class="text">
            <h2 data-aos="zoom-in" data-aos-duration="800" >Help transcribe 65.000 scans of Susanne K. Langer's archival system</h2>
<!--            <p data-aos="zoom-in" data-aos-duration="900">FromThePage is a crowdsourcing platform for archives and libraries where volunteers transcribe, index, and describe historic documents</p>-->

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12 ">
                        <div class="card second" data-aos="zoom-in" data-aos-duration="1100">
                            <%= image_tag("materials/main-card02.png") %>
                            <h4>Would you like to contribute to the project?</h4>

                            <div class="bottom">
                                <%= link_to "Become a Transcriber", new_user_registration_path, class: 'button' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Main End -->

    <!-- Home Count -->
    <section class="home-count">
        <div class="container">
          <div class="item" data-aos="zoom-in" data-aos-duration="800">
            <h4>Transcribers</h4>
            <p><%= Deed.where(created_at: (1.year.ago)..).select(:user_id).distinct.count %></p>
          </div>
<!--            <div class="row">-->
<!--                <div class="col-lg-6 col-md-6 col-6">-->
<!--                    <div class="item" data-aos="zoom-in" data-aos-duration="800">-->
<!--                        <h4>Transcribers</h4>-->
<!--                        <p><%#= Deed.where(created_at: (1.year.ago)..).select(:user_id).distinct.count %></p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-6 col-md-6 col-6">-->
<!--                    <div class="item" data-aos="zoom-in" data-aos-duration="1000">-->
<!--                        <h4>Pages Transcribed</h4>-->
<!--                        <p><%#= number_with_delimiter Page.where.not(:status=>nil).count %></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>
    <!-- Home Count End -->

    <%= render "shared/landingfooter" %>

</body>

</html>
